<div class="footer-container">
    <div class="wrap-inner">
        <div class="footer-links-wrapper">
            <div class="link-list-container"  *ngFor="let number of [0,1,2,3]">
                <p class="link-title"><a href="#">Link Heading</a></p>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Sit amet, consectetur</a></li>
                    <li><a href="#">Adipisicing elit</a></li>
                    <li><a href="#">Nam rerum recusandae</a></li>
                    <li><a href="#">Accusantium eos</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap-inner">
            <p class="copyright">&copy; Jemuel Elimanco Exam 1</p>
        </div>
    </div>
</div>