<mat-toolbar>
    <div class="header-wrapper">
      <button mat-icon-button class="mobile-menu-trigger" class="example-icon mobile-menu-trigger" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="home-link" href="/home">
        <span class="icon-container">
          <img src="assets/images/logo.png" alt="Chess Essentials">
        </span>
      </a>
      <app-navigationmenu class="navigation-menu"></app-navigationmenu>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <ul class="account-links-container">
        <li><a href="/login" class="link"><mat-icon>person</mat-icon></a></li>
        <li><a href="/cart" class="link"><mat-icon>shopping_cart</mat-icon></a></li>
      </ul>
      <!-- <button mat-icon-button class="example-icon" aria-label="login">
        login
      </button> -->
      <!-- <button mat-icon-button class="example-icon" aria-label="cart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button> -->
    </div>
  </mat-toolbar>