<app-banner
bannerTitle="Jemuel Elimanco"
bannerDescription="Front End Web Developer"
bannerImage="assets/images/jemuel.png"
addedClass="for-category-page"
></app-banner>
<div class="wrap-inner about-me-container">
    <p><strong>Career Objective</strong></p>
    <p>To work in a growing company that will provide me with the possibility to learn more and to practice my skills and to adopt in the advancement in IT industry.</p>
    <p><strong>Summary of Technical Qualification</strong></p>
    <ul class="about-info-list">
        <li>Quick study with an ability to learn easily new programming language, ideas, concepts, methods and technology.</li>
        <li>Ability to analyze, design and code.</li>
        <li>Dedicated innovative, coordination skills and self-motivated Team member and leader.</li>
        <li>Has background in Router and Switch configuration and network troubleshooting.</li>
    </ul>


    <p><strong>Technical Knowledge</strong></p>
    <ul class="about-info-list">
        <li>Programming Languages: Java, C#, Vb.net, PHP, JavaScript, HTML, CSS, C++, SASS</li>
        <li>Design tools: Adobe Photoshop</li>
        <li>IDE: Eclipse, Visual Studio code, Brackets, Sublime and Notepad++</li>
        <li>Database: MySql, Sql server</li>
        <li>Frameworks:, Bootstrap, AMP, Materializecss, Angular js, Angular, NodeJS</li>
        <li>Libraries: JQuery, React</li>
        <li>Technical tools in web development: Git, Bitbucket, Atlassian</li>
    </ul>
</div>
