<app-banner
bannerTitle="Chess Boards"
bannerDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque et reprehenderit perspiciatis, repellat quod saepe, tempora ducimus voluptatum provident."
bannerImage="assets/images/banner.png"
addedClass="for-category-page"
></app-banner>
<div class="wrap-inner">
    <ul class="product-category-list">
        <li *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
            <app-productcard></app-productcard>
        </li>
    </ul>
</div>

