<app-banner
bannerTitle="Blog Article Page Template"
bannerDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque et reprehenderit perspiciatis, repellat quod saepe, tempora ducimus voluptatum provident."
bannerImage="assets/images/banner.png"
addedClass="for-category-page"
></app-banner>
<div class="wrap-inner">
    <div class="section-text-container">
        <h1 class="page-section-header">Chess Essentials</h1>
        <p class="page-section-header-desc">We provide high quality products for excelent gaming experience</p>
    </div>
</div>
<div class="wrap-inner">
    <h2>Heading 1 here</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus minima tenetur, unde accusantium iure similique impedit tempora vel ipsum a blanditiis totam dolorum qui possimus repellat mollitia eligendi repellendus! Nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus minima tenetur, unde accusantium iure similique impedit tempora vel ipsum a blanditiis totam dolorum qui possimus repellat mollitia eligendi repellendus! Nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus minima tenetur, unde accusantium iure similique impedit tempora vel ipsum a blanditiis totam dolorum qui possimus repellat mollitia eligendi repellendus! Nostrum!</p>
    <h2>Heading 1 here</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus minima tenetur, unde accusantium iure similique impedit tempora vel ipsum a blanditiis totam dolorum qui possimus repellat mollitia eligendi repellendus! Nostrum!</p>
    <h2>Heading 1 here</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus minima tenetur, unde accusantium iure similique impedit tempora vel ipsum a blanditiis totam dolorum qui possimus repellat mollitia eligendi repellendus! Nostrum!</p>
</div>
<app-instagramsection></app-instagramsection>