<app-banner
bannerTitle="Lets play Chess"
bannerDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque et reprehenderit perspiciatis, repellat quod saepe, tempora ducimus voluptatum provident."
bannerImage="assets/images/banner.png"
bannerLink="/category"
bannerLinkText="Show more"

></app-banner>
<div class="home-banner-container">
    <div class="wrap-inner">
        <div class="section-text-container">
            <h2 class="page-section-header">Chess Essentials</h2>
            <p class="page-section-header-desc">We provide high quality products for excelent gaming experience</p>
        </div>
    </div>
    <mat-tab-group class="tabs-banner" mat-align-tabs="center">
        <mat-tab label="Chess Boards">
            <app-tabsection
                tabTitle="Chess Boards"
                tabDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa, hic optio laboriosam ratione accusantium, dolorem non molestias eaque at cupiditate iure quis excepturi possimus maiores placeat architecto totam fugiat."
                tabImage="assets/images/board.png"
                tabImageAlt="Image"
                tabButtonText="Shop All"
                tabButtonLink="/category"
            ></app-tabsection>
        </mat-tab>
        <mat-tab label="Chess Pieces">
            <app-tabsection
                tabTitle="Chess Pieces"
                tabDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa, hic optio laboriosam ratione accusantium, dolorem non molestias eaque at cupiditate iure quis excepturi possimus maiores placeat architecto totam fugiat."
                tabImage="assets/images/pieces.png"
                tabImageAlt="Image"
                tabButtonText="Shop All"
                tabButtonLink="/category"
            ></app-tabsection>
        </mat-tab>
        <mat-tab label="Chess Books">
            <app-tabsection
                tabTitle="Chess Books"
                tabDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa, hic optio laboriosam ratione accusantium, dolorem non molestias eaque at cupiditate iure quis excepturi possimus maiores placeat architecto totam fugiat."
                tabImage="assets/images/books.jpg"
                tabImageAlt="Image"
                tabButtonText="Shop All"
                tabButtonLink="/category"
            ></app-tabsection>
        </mat-tab>
        <mat-tab label="Chess Tournamens">
            <app-tabsection
                tabTitle="Chess Tournamens"
                tabDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa, hic optio laboriosam ratione accusantium, dolorem non molestias eaque at cupiditate iure quis excepturi possimus maiores placeat architecto totam fugiat."
                tabImage="assets/images/tournament.png"
                tabImageAlt="Image"
                tabButtonText="Shop All"
                tabButtonLink="/category"
            ></app-tabsection>
        </mat-tab>
    </mat-tab-group>
</div>
<app-productsection
    sectionTitle="On Sale Products"
    sectionDescription="Enjoy our product discounts">
</app-productsection>
<app-blogsection></app-blogsection>
<app-instagramsection></app-instagramsection>