@tablet-up: ~'(min-width: 768px)';

.tab-section-content{
    padding: 40px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    @media @tablet-up{
        flex-direction: row;
    }
    .section-title{
        font-size: 34px;
        margin-bottom: 40px;
    }
    .description{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 40px;
    }
}
.text-container{
    @media @tablet-up{
        width: 50%;
    }
}
.image-container{
    width: 200px;
    margin: 20px auto;
    @media @tablet-up{
        width: 50%;
    }
}
.tab-content-button{
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.text-container{
    @media @tablet-up{
        padding-right: 40px;
    }
}